
  <div class="col-md-8 col-md-offset-2">
    <%= form_for message do |f| %>
      
      <div class="form-group">
        <%= f.label :title, "Message" %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description, "Join talk" %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>